.container {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}


ul {
    height: 90%;
    text-decoration: none;
}

li {
    border-bottom: 1px solid white;
}

input {
    height: 32px;
    width: 90%;
}

button {
    background-color: #5865f2;
    color: white;
    cursor: pointer;
}

button:disabled {
    background-color: #3a3c43;
}