<div class="container">
    <form>
        @if (email()) {
        <ng-container>
            <p>OTP SENT TO {{ email() }}</p>
        </ng-container>
        }
        <div class="form-group">
            <label for="otp">OTP</label>
            <input type="text" id="otp" [(ngModel)]="otp" name="otp" required>
        </div>
        <div class="form-group">
            <button type="button" [disabled]="isVerifyLoading()" (click)="verifyOtp()">
                @if (isVerifyLoading()) {
                Verifying...
                } @else {
                Verify
                }
            </button>
        </div>
        <div class="form-group">
            <button type="button" [disabled]="isResendLoading()" (click)="resendOtp()">
                @if (isResendLoading()) {
                Resending OTP...
                } @else {
                Resend OTP
                }
            </button>
        </div>
        @if(errorMessage()){
        <ng-container>
            <p class="error">{{ errorMessage() }}</p>
        </ng-container>
        }
    </form>
</div>