<div class="verify-login-container">
    <form [formGroup]="verifyLoginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            @if (email()) {
            <div class="otp-sent-box">
                OTP sent to {{ email() }}
            </div>
            }
            <input type="text" formControlName="otp" class="otp-input" name="otp"
                [ngClass]="{'invalid': otpControl?.invalid && (otpControl?.dirty || otpControl?.touched)}"
                placeholder="OTP">
            <div class="error-message">
                @if (otpControl?.invalid
                && otpControl?.dirty
                && otpControl?.touched
                && otpControl?.errors?.['required']) {
                OTP is required
                }
            </div>
            <div>
                <button type="submit" [disabled]="verifyLoginForm.invalid">
                    @if (isLoading()) {
                    Verifying...
                    } @else {
                    Verify
                    }
                </button>
            </div>
            <div>
                <button type="button" (click)="resendOtp()">
                    @if (isResendLoading()) {
                    Resending OTP...
                    } @else {
                    Resend OTP
                    }
                </button>
            </div>
        </div>
    </form>
</div>