<div class="chat-list">
    <div class="chat-item ">
        <div class="chat-icon">G</div>
        <div class="chat-name">General Chat</div>
    </div>
    <div class="chat-item ">
        <div class="chat-icon">G</div>
        <div class="chat-name">General Chat</div>
    </div>
    <div class="chat-item ">
        <div class="chat-icon">G</div>
        <div class="chat-name">General Chat</div>
    </div>
    <div class="chat-item ">
        <div class="chat-icon">G</div>
        <div class="chat-name">General Chat</div>
    </div>
    <div class="chat-item ">
        <div class="chat-icon">G</div>
        <div class="chat-name">General Chat</div>
    </div>
    <div class="chat-item ">
        <div class="chat-icon">G</div>
        <div class="chat-name">General Chat</div>
    </div>
    <div class="chat-item ">
        <div class="chat-icon">G</div>
        <div class="chat-name">General Chat</div>
    </div>
    <div class="chat-item ">
        <div class="chat-icon">G</div>
        <div class="chat-name">General Chat</div>
    </div>
    <div class="chat-item ">
        <div class="chat-icon">G</div>
        <div class="chat-name">General Chat</div>
    </div>
    <div class="chat-item ">
        <div class="chat-icon">G</div>
        <div class="chat-name">General Chat</div>
    </div>
    
</div>