<div class="container">
  <h1>Goppho Login</h1>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">EMAIL</label>
      <input type="text" id="email" [(ngModel)]="email" name="email" required>
    </div>
    <button type="submit" [disabled]="isLoading()">
      @if (isLoading()) {
      Logging In...
      } @else {
      LogIn
      }
    </button>
    @if(errorMessage()){
    <ng-container>
      <p class="error">{{ errorMessage() }}</p>
    </ng-container>
    }
  </form>
</div>