:root {
    accent-color: #5865f2;
    color: #ffff;
    background-color: #2f3136;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--background-color);
    height: 100vh;
    overflow: hidden;
}