<div class="friends-slider">
    <div class="friend-item">
        <div class="friend-icon" title="Friend 1">A</div>
    </div>
    <div class="friend-item">
        <div class="friend-icon" title="Friend 2">B</div>
    </div>
    <div class="friend-item">
        <div class="friend-icon" title="Friend 3">C</div>
    </div>
    <div class="friend-item">
        <div class="friend-icon" title="Friend 4">D</div>
    </div>
    <div class="friend-item">
        <div class="friend-icon" title="Friend 5">E</div>
    </div>
    <div class="friend-item">
        <div class="friend-icon" title="Friend 5">E</div>
    </div>
    <div class="friend-item">
        <div class="friend-icon" title="Friend 5">E</div>
    </div>
    <div class="friend-item">
        <div class="friend-icon" title="Friend 5">E</div>
    </div>
</div>